{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

<script>
  function downloadAsFile(csv, fileName) {
    var file = new File([csv], fileName, { type: "text/csv" })
    var anUrl = window.URL.createObjectURL(file)
    var a = window.document.createElement('a');
    a.href = window.URL.createObjectURL(file)
    a.download = fileName;
    a.click();
  }
</script>

{% block navbar %}

<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated Link</a></li>
                <li><a href="#">Another Separated Link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/data_input">填寫資料</a></li>
            <li><a href="/data_pandas">資料瀏覽</a></li>
            <li><a href="/logout">Logout<span class="sr-only">(current)</span></a></li>
	          <li><a href="../navbar-fixed-top/">{{ username }}</a></li>
          </ul>
        </div>
      </div>
    </nav>



    <style type="text/css">
      .tg  {border-collapse:collapse;border-spacing:0;}
      .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        overflow:hidden;padding:8px 5px;word-break:normal;}
      .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        font-weight:normal;overflow:hidden;padding:8px 5px;word-break:normal;}
      .tg .tg-wlv8{background-color:#cce6ff;border-color:inherit;text-align:center;vertical-align:top}
      .tg .tg-mfhl{background-color:#ffffc7;border-color:inherit;text-align:center;vertical-align:top}
      </style>
      <div class="container" align="center" style="width:50%">
      <table class="tg" style="undefined;table-layout: fixed; width: 505px">
      <colgroup>
      <col style="width: 42px">
      <col style="width: 182px">
      <col style="width: 281px">
      </colgroup>
      <thead>
        <tr>
          <th class="tg-wlv8">項目</th>
          <th class="tg-wlv8">欄位</th>
          <th class="tg-wlv8">欄位(大類)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tg-mfhl">1</td>
          <td class="tg-mfhl">ID</td>
          <td class="tg-mfhl">{{ID}}</td>
        </tr>
        <tr>
          <td class="tg-mfhl">2</td>
          <td class="tg-mfhl">name</td>
          <td class="tg-mfhl">{{name}}</td>
        </tr>
        <tr>
          <td class="tg-mfhl">3</td>
          <td class="tg-mfhl">age</td>
          <td class="tg-mfhl">{{age}}</td>
        </tr>
        <tr>
          <td class="tg-mfhl">4</td>
          <td class="tg-mfhl">phone</td>
          <td class="tg-mfhl">{{phone}}</td>
        </tr>
      </tbody>
      </table>
    </div>


{% endblock %}




